@model Workshop2.Models.ViewModel.BooksEditViewModel

@{
    ViewBag.Title = "Delete";
}
<style>
    body {
        font-family: Microsoft JhengHei;
    }
</style>
<h2>刪除書籍</h2>

<h3>你確定要刪除它?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Book_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_PurchaseTime)
        </dt>

        <dd>
            @Model.Book.Book_PurchaseTime.Value.ToString("yyyy/MM/dd")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Book_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Book_Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Book_Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Book_Introduction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Class_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookClasses
                .Find(x=>x.Class_Code.Equals(Model.Book.Class_Code)).Book_Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookStatuses
                .Find(x=>x.StatusCode.Equals(Model.Book.Book_Status)).StatusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Member_Code)
        </dt>

        <dd id="member">
            @Html.DisplayFor(model => model.Members
                .Find(x=>x.Member_Code.Equals(Model.Book.Member_Code)).Member_Name)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" id="submitBtn" class="btn btn-danger" /> |
            @Html.ActionLink("返回至列表", "Index", null,new { @class = "btn btn-primary" })
        </div>
    }
</div>
<script>
    checkCanDelect();
    //確認是否可以刪除
    function checkCanDelect() {
        var member = document.getElementById("member");
        var submitBtn = document.getElementById("submitBtn");
        
        if (member.innerText != "") {
            submitBtn.value = "不可刪除";
            submitBtn.disabled = true;
        }
    }
</script>
